<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        textarea {
            width : 100%;
        }

        input[type=submit] {
            margin-top : 10px;
        }

        .ta {
            text-align: center;
        }

        .l_right {
            float: right;
        }

        .m_5 {margin: 5px;}
        .m_10 {margin: 10px;}
        .m_20 {margin: 20px;}
        .pt_100 {padding: 100px 0;}

        .ti_font { color: white; font-family: "한컴 말랑말랑 Regular"; background: #4f5050 }





    </style>
</head>
<body>

</body>
</html>
