<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="LayOut/default_layout">

<div>
    <th:block layout:fragment="content">
        <div class="container">
                    <button type="button" class="btn btn-secondary l_right m_10"
                            th:onclick="|location.href='@{/board/upload}'|">
                        글쓰기
                    </button>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>글번호</th>
                    <th>작성자</th>
                    <th>제목</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="list : ${list}">
                    <td>[[${list.boardId}]]</td>
                    <td>[[${list.name}]]</td>
                    <td>
                        <a th:href="@{/board/view(boardId=${list.boardId})}">
                            [[${list.title}]]</a>
                    </td>
                    <td>[[${list.read}]]</td>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>
</div>
</div>
</html>