<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="LayOut/default_layout">

<div>
    <th:block layout:fragment="content">

        <div class="container">
            <form id="form" th:action="@{update}" method="post">
                <p>글번호 : [[${update.boardId}]]</p>
                제목 :
                <div id="title">
                    <textarea class="form-control" name='title'>[[${update.title}]]</textarea>
                </div>
                <p>작성자 : [[${update.name}]]</p>
                내용 :
                <div id="content">
                    <textarea class="form-control" name='content'>[[${update.content}]]</textarea>
                </div>
                <input type="hidden" name="boardId" th:value="${update.boardId}">
                <button type="submit">저장</button>
            </form>
        </div>

    </th:block>
</div>
</html>