<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="LayOut/default_layout">
<div>
    <th:block layout:fragment="content">

        <div class="container">
            <form th:action="@{upload}" method="post">

                <input type="text" class="form-control" name="name">
                <input type="text" class="form-control" name="title">
                <textarea class="form-control" name="content"></textarea>

                <button type="submit">btn</button>
            </form>
        </div>

    </th:block>
</div>
</html>
</html>