<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="LayOut/default_layout">

<!-- 현재 화면에서만 사용하는 js -->
<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

    <script src="js/vendor/modernizr-3.8.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script>window.jQuery || document.write('<script src="@{/js/vendor/jquery-3.4.1.min.js}"><\/script>')</script>

    <script src="main.js"></script>
</th:block>

<div>
    <th:block layout:fragment="content" class="container my-3">
        <p>글번호 : [[${view.boardId}]]</p>
        <div>
            <h2 class="boarder-bottom py-2" th:text="${view.title}" id="title"></h2>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <!-- 글쓴이 추가 -->
                    작성자 :
                    <a class="mb-2" style="width: 100px"
                       th:text="${view.name}">
                    </a>
                </div>
            </div>
            <hr>
            <div class="card-text" id="content" >
                <textarea readonly="readonly" rows="5" class="form-control" th:text="${view.content}">
                </textarea>
            </div>

        </div>


        <button id="deleteBtn" class="btn btn-danger btn-sm float-right m-2">삭제</button>
        <button id="updateBtn" class="btn btn-info btn-sm float-right m-2">수정</button>

        <form id="form" th:action="@{/}" method="post">
        </form>

        <script th:inline="javascript">
            $(document).on('ready', function (e) {
                var form = $("#form");
                var boardId = [[${view.boardId}]];
                $(document).on('click', '#deleteBtn', function (e) {
                    $('#form').attr("action", "delete");
                    form.append("<input type='hidden' name='boardId' value='" + boardId + "'>");
                    form.append("<input type='hidden' name='_method' value='delete'>");
                    form.submit();
                })
                $(document).on('click', '#updateBtn', function (e) {
                    var str = "<input class='form-control' width='250'" +
                        "placeholder='제목 입력' id='updateTitle'>";
                    $("#title").html(str);
                    str = "<textarea class='form-control' placeholder='내용 입력'" +
                        "id='updateContent'></textarea>";
                    $("#content").html(str);
                    $("#updateBtn").attr("id", "updateConfirmBtn");

                })

                $(document).on('click', '#updateConfirmBtn', function (e) {
                    $('#form').attr("action", "update");
                    var updateTitle = $('#updateTitle').val();
                    var updateContent = $('#updateContent').val();
                    form.append("<input type='hidden' name='boardId' value='" + boardId + "'>");
                    form.append("<input type='hidden' name='_method' value='put'>");
                    form.append("<input type='hidden' name='title' value='" + updateTitle + "'>");
                    form.append("<input type='hidden' name='content' value='" + updateContent + "'>");
                    form.submit();

                })
            })

        </script>

    </th:block>
</div>

</html>