<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="headerFragment">

    <div class="jumbotron text-center ti_font">
        <h1>조주기능사 문제풀이</h1>
        <p>조주 기능사 합격을 위한 랜덤 문제풀이</p>
    </div>

    <nav class="navbar bg-body-tertiary">
        <form class="container-fluid justify-content-center ">
            <button class="btn btn-outline-success me-2 m_5" type="button"
                    th:onclick="|location.href='@{/}'|">
                문제풀기</button>
            <button class="btn btn-outline-secondary m_5" type="button"
                    th:onclick="|location.href='@{/board/main}'|">
                문의게시판</button>
        </form>
    </nav>
</nav>

</html>